<div class="user-screen">
  <mat-tab-group class="user-screen__tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="user-screen__icons" src="./assets/images/busca.svg" />
        Consultar Usuário
      </ng-template>
      <app-user-register
        [isSearch]="true"
        class="user-screen__component"
        (results)="setUsers($event)"
        (clearSearch)="clearSearch()"
        [user]="resultUser"
      ></app-user-register>

      <div class="user-screen__search" *ngIf="users && shouldSearch">
        <h3>{{ users?.length < 1 ? 'Não encontramos nenhum resultado para essa busca' : 'Resultados da Busca' }}</h3>
        <div class="user-screen__search-results">
          <ng-container *ngIf="users?.length >= 1">
            <div class="user-screen__search-results--cards" *ngFor="let user of users">
              <app-user-card [user]="user" (clickUser)="loadUser($event)"></app-user-card>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="user-screen__icons" src="./assets/images/fornecedor.svg" />
        Cadastrar Usuário
      </ng-template>
      <app-user-register class="user-screen__component"></app-user-register>
    </mat-tab>
  </mat-tab-group>
</div>
