.default-screen {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  &__wrapper {
    display: flex;
    width: 20%;
    margin-bottom: 15px;
  }

  &__image {
    max-width: 20%;

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }

    &--full {
      max-width: unset;
    }
  }
}
