.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  font-size: 25px;
  color: #e7eced;
  background: rgb(51, 114, 235);
  background: linear-gradient(45deg, rgba(51, 114, 235, 1) 15%, rgba(93, 143, 240, 1) 75%, rgba(255, 255, 255, 1) 100%);

  &__image {
    width: 500px;
    height: 500px;
    margin-bottom: 25px;
  }
}
