<div matRipple *ngIf="product" class="c-product-card" (click)="chooseCard()">
  <span>Nome: {{ product.nome }}</span>
  <span>ID: {{ product.id }}</span>
  <span>Status: {{ product.ativo ? 'Ativo' : 'Inativo' }}</span>
  <span>Código de Barras: {{ product.codigo_barra }}</span>
  <span>nome do Fornecedor: {{ product.nome_fornecedor }}</span>
  <span>ID do Fornecedor: {{ product.fornecedor_id }}</span>
  <span>preço de venda: {{ product.preco_venda }}</span>
  <span>saldo em estoque: {{ product.saldo }}</span>
</div>
