<div matRipple *ngIf="product" class="c-product-card" (click)="chooseCard()">
  <div class="c-product-card__wrapper">
    <span class="c-product-card__name">{{ product.nome }}</span>
    <span class="c-product-card__id">ID: {{ product.id }}</span>
  </div>

  <div class="c-product-card__wrapper">
    <span class="c-product-card__code">{{ product.codigo_barra }}</span>
    <span class="c-product-card__status">{{ product.ativo ? 'Ativo' : 'Inativo' }}</span>
  </div>

  <div class="c-product-card__wrapper">
    <span class="c-product-card__vendor">Fornecedor: {{ product.nome_fornecedor }}</span>
  </div>

  <div class="c-product-card__wrapper c-product-card__wrapper--last">
    <span class="c-product-card__price">Preço: {{ product.preco_venda }}</span>
    <span class="c-product-card__stock">Estoque: {{ product.saldo }}</span>
  </div>
</div>
