.product-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__tabs {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    user-select: none;

    ::ng-deep .mat-tab {
      &-label {
        color: #ffffff;
        font-weight: unset;
        background-color: #5d8ff0;
        opacity: unset;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0 20px 0 20px;

        &-active {
          background-color: #3372eb !important;
        }
      }

      &-header {
        border-bottom: unset;
      }

      &-header-pagination-chevron {
        display: none;
      }

      &-body-wrapper {
        width: 100%;
      }
    }
  }

  &__search {
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-direction: column;

    &-results {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &--cards {
        margin: 5px 5px;
      }
    }
  }

  &__icons {
    margin-right: 20px;
    width: 35px;
    height: 35px;
  }

  &__component {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
