<div class="moving-register" *ngIf="!isSearch; else search">
  <form [formGroup]="productMovingForm" class="moving-register__form-wrapper">
    <div class="moving-register__form">
      <div class="moving-register__form-field--wrapper">
        <mat-form-field appearance="outline" class="moving-register__form-field moving-register__form-field--name">
          <mat-label>Local de estoque</mat-label>
          <input matInput placeholder="Fundos, terceiro andar" formControlName="local_estoque" />
          <mat-error *ngIf="productMovingForm.get('local_estoque').hasError('required')">
            Digite o local de estoque
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="moving-register__form-field moving-register__form-field--others">
          <mat-label>Tipo de movimentação</mat-label>
          <mat-select
            formControlName="tipo_movimentacao"
            (selectionChange)="updateValidity($event.value)"
            *ngIf="userInfo$ | async as userInfo"
          >
            <mat-option *ngIf="userInfo.perfil === 'admin' || userInfo.perfil === 'estoque'" value="E">
              Entrada
            </mat-option>
            <mat-option *ngIf="userInfo.perfil === 'admin' || userInfo.perfil === 'venda'" value="S">
              Saída
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="moving-register__form-field--wrapper">
        <mat-form-field appearance="outline" class="moving-register__form-field moving-register__form-field--others">
          <mat-label>Quantidade</mat-label>
          <input mask="999999999999" matInput placeholder="542" formControlName="quantidade" />
          <mat-error *ngIf="productMovingForm.get('quantidade').hasError('required')">
            Digite a quantidade de peças
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="moving-register__form-field moving-register__form-field--others">
          <mat-label>Produto</mat-label>
          <input matInput placeholder="Camisa Preta PP Moda Verão" [formControl]="product" [matAutocomplete]="auto" />

          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="productChosen($event.option.value)"
          >
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{ product }}
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="product.hasError('required')"> Digite o nome do produto </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="productMovingForm.get('tipo_movimentacao').value === 'E'"
          appearance="outline"
          class="moving-register__form-field moving-register__form-field--others"
        >
          <mat-label>Preço da compra</mat-label>
          <input currencyMask matInput formControlName="preco_total" />
          <mat-error *ngIf="productMovingForm.get('preco_total').hasError('required')">
            Digite o valor dessa compra de estoque
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div matRipple class="moving-register__button" (click)="clearForm()">
      <span *ngIf="!isMovingLoading">Limpar</span>
      <mat-spinner [diameter]="30" *ngIf="isMovingLoading"></mat-spinner>
    </div>
    <div matRipple class="moving-register__button" (click)="registerMoving()">
      <span *ngIf="!isMovingLoading">Registrar</span>
      <mat-spinner [diameter]="30" *ngIf="isMovingLoading"></mat-spinner>
    </div>
  </form>
</div>

<ng-template #search>
  <div class="moving-register__search">
    <form class="moving-register__form-wrapper">
      <div class="moving-register__form">
        <mat-form-field appearance="outline" class="moving-register__form-field moving-register__form-field--search">
          <mat-label>Produto</mat-label>
          <input matInput placeholder="Camisa Preta PP Moda Verão" [formControl]="product" [matAutocomplete]="auto" />

          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="productChosen($event.option.value)"
          >
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{ product }}
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="product.hasError('required')"> Digite o nome do produto </mat-error>
        </mat-form-field>
      </div>

      <div matRipple class="moving-register__button" (click)="onSearchProductMovings()">
        <span *ngIf="!isMovingLoading">Buscar movimentações do produto</span>
        <mat-spinner [diameter]="30" *ngIf="isMovingLoading"></mat-spinner>
      </div>

      <div matRipple class="moving-register__button" (click)="getMovings()">
        <span *ngIf="!isMovingLoading">Listar todas movimentações</span>
        <mat-spinner [diameter]="30" *ngIf="isMovingLoading"></mat-spinner>
      </div>
    </form>
  </div>
</ng-template>
