.feedback-modal {
  &__text {
    font-size: 24px;
  }

  &__error {
    color: #ff3737;
    margin-bottom: 50px;
  }

  &__feedback {
    color: #00563f;
    margin-bottom: 50px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__continue {
    padding: 5px 25px;
    border: unset;
    cursor: pointer;
    color: #e5e5e5;
    background-color: #3372eb;

    &:focus {
      outline: unset;
    }
  }
}
