.c-user-card {
  display: flex;
  flex-direction: column;
  background-color: #5d8ff0;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  color: #e7eced;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 20px;
  }

  &__id,
  &__status {
    margin-left: 15px;
  }

  &__access,
  &__name,
  &__id,
  &__login,
  &__status {
    background-color: #3372eb;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
  }
}
