<div class="header-menu">
  <div class="header-menu__header">
    <p class="header-menu__header-title" [routerLink]="['']">Ozomali Vendas</p>
    <img
      class="header-menu__header-image"
      src="../../../assets/user_picture_mock.svg"
    />
  </div>
  <div class="header-menu__wrapper">
    <div class="header-menu__menu">
      <p class="header-menu__menu-title" [routerLink]="['']">Menu principal</p>
      <div class="header-menu__menu-buttons" [routerLink]="['vendors']">
        <img
          class="header-menu__menu-buttons-image"
          src="../../../assets/icone-fornecedor-menu.svg"
        />
        <p class="header-menu__menu-buttons-text">Fornecedor</p>
      </div>
      <div class="header-menu__menu-buttons" [routerLink]="['products']">
        <img
          class="header-menu__menu-buttons-image"
          src="../../../assets/icone-produtos-menu.svg"
        />
        <p class="header-menu__menu-buttons-text">Produtos</p>
      </div>
    </div>

    <div class="header-menu__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
