<div class="header-menu">
  <div class="header-menu__header">
    <div matRipple class="header-menu__text-wrapper">
      <img [matMenuTriggerFor]="menu" class="header-menu__header-image" src="./assets/images/tcc.svg" />
      <p class="header-menu__header-title" [routerLink]="['']">Ozomali Estoque</p>
    </div>
    <div *ngIf="userInfo$ | async as user" class="header-menu__user">
      <img [matMenuTriggerFor]="menu" class="header-menu__header-image" src="./assets/images/user_picture_mock.svg" />
      <h4 class="header-menu__user-name">Usuário: {{ user.name }}</h4>
      <h4 class="header-menu__user-access">Nível de acesso: {{ user.perfil }}</h4>
    </div>
  </div>
  <div class="header-menu__wrapper">
    <div class="header-menu__menu">
      <div
        matRipple
        class="header-menu__menu-buttons header-menu__menu-buttons--first"
        [routerLink]="['/fornecedores']"
        [routerLinkActive]="['header-menu__menu-buttons--active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img class="header-menu__menu-buttons-image" src="./assets/images/icone-fornecedor-menu.svg" />
        <p class="header-menu__menu-buttons-text">Fornecedores</p>
      </div>
      <div
        matRipple
        class="header-menu__menu-buttons"
        [routerLink]="['/produtos']"
        [routerLinkActive]="['header-menu__menu-buttons--active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img class="header-menu__menu-buttons-image" src="./assets/images/icone-produtos-menu.svg" />
        <p class="header-menu__menu-buttons-text">Produtos</p>
      </div>
      <div
        matRipple
        class="header-menu__menu-buttons"
        [routerLink]="['/movimentacoes']"
        [routerLinkActive]="['header-menu__menu-buttons--active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img class="header-menu__menu-buttons-image" src="./assets/images/cart.svg" />
        <p class="header-menu__menu-buttons-text">Movimentações</p>
      </div>
      <div
        matRipple
        class="header-menu__menu-buttons"
        [routerLink]="['/relatorios']"
        [routerLinkActive]="['header-menu__menu-buttons--active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img class="header-menu__menu-buttons-image" src="./assets/images/reports.svg" />
        <p class="header-menu__menu-buttons-text">Relatórios</p>
      </div>
    </div>

    <div class="header-menu__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
