*:focus {
  outline: none;
}

.header-menu {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__header {
    background-color: #4881f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px 0 10px;
    color: #e7eced;

    &-title {
      font-size: 36px;
      margin: 0;
      padding: 15px 0 15px 5px;
      cursor: pointer;
      user-select: none;
    }

    &-image {
      margin-bottom: 5px;
      height: 80px;
      width: 80px;
      cursor: pointer;
    }
  }

  &__wrapper {
    display: flex;
    flex: 1 1 auto;
  }

  &__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    padding: 10px 0;

    &-name,
    &-access {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  &__menu {
    background-color: #4881f4;
    padding: 0 10px;
    width: fit-content;
    color: #e7eced;

    &-title {
      margin: 30px 0 0;
      padding: 5px 5px 35px;
      font-size: 36px;
      cursor: pointer;
      user-select: none;
    }

    &-buttons {
      display: flex;
      align-items: center;
      margin: 25px 0 0 0;
      cursor: pointer;
      user-select: none;
      border-radius: 10px;
      padding: 10px 0 10px 10px;
      background-color: #3372eb;

      &--first {
        margin-top: 0;
      }

      &-image {
        height: 60px;
        width: 60px;
      }

      &-text {
        font-size: 36px;
        padding: 0 5px;
        margin: 0;
      }
    }
  }

  &__content {
    width: 100%;
    padding-top: 15px;
  }
}
