<div matRipple *ngIf="moving" class="c-moving-card">
  <span>ID: {{ moving.id }}</span>
  <span>Status: {{ moving.ativo }}</span>
  <span>Local de estoque: {{ moving.local_estoque }}</span>
  <span>Tipo de movimentação: {{ moving.tipo_movimentacao === 'E' ? 'Entrada' : 'Saída' }}</span>
  <span>Preço total: {{ moving.preco_total }}</span>
  <span>Quantidade: {{ moving.quantidade }}</span>
  <span>Nome do produto: {{ moving.nome_produto }}</span>
  <span>ID do produto: {{ moving.produto_id }}</span>
  <span>Nome do usuário: {{ moving.nome_usuario }}</span>
  <span>ID do usuário: {{ moving.usuario_id }}</span>
  <span>Data da movimentação: {{ moving.data_movimentacao }}</span>
</div>
